/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaBlack";
    src: url("fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	background: white;
	margin: 0;
	min-width: 660px;
	font-family: ProximaNovaRegular;
}

p {
	color: #6f7d95;
	font-size: 12px;
	line-height: 1.5;
}
a {
	text-decoration: none;
	font-size: .8125em;
	color: #78829d;
}

a:hover {
	color: white;
}

.center-block {
	margin: 0 auto;
}
.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.center-text {
	margin: 0 auto;
}

.push-left {
	float: left;
}


.push-right {
	float: right;
}

#header {
	height: 45px;
	background: #2f3649;
}

.logo {
	width: 84px;
	height: 12px;
	padding-top: 15px;
}

.profile-block {
	position: absolute;
	right: 0;
	top: 0;
}

.help-block {
	margin: 12px 12px 0 0;
}

.divider {
	margin-left: 10px;
}
.user-online {
	background: #15a4fa;
	width: 157px;
	height: 45px;
}

.divider {
	width: 12px;
	display: inline-block;
}

.user-online a {
	color: white;
}

.avatar {
	float: left;
	margin-top: 3px;
	margin-left: 10px;
}

.round {
	border-radius: 100px;
	box-shadow: 0 0 0 3px white;
}

.arrow {
	float: right;
	cursor: pointer;
	margin-top: 15px;
	margin-right: 10px;
}

#sidebar {
	float: left;
	width: 200px;
	background: #1f2638;
}


.add-book button {
	width: 160px;
	height: 44px;
	border-radius: 5px;
	background: #f2795a;
	color: white;
	vertical-align: middle;
	position: relative;
	margin-top: 40px;
	margin-left: 15px;
	border: none;

}

.add-book button:hover {
	opacity: 0.9;
}
.statistic {
	height: 240px;
}

.nav-menu-icon {
	background-position: 20px 14px;
	background-repeat: no-repeat;
	padding: 15px 15px 15px 45px;
	display: block;
}

.nav-menu-icon:hover {
	background-color: #15a4fa;
}

.nav-icon-reading {
	background-image: url('img/now.png');
}

.nav-icon-reading:hover {
	background-image: url('img/now-hover.png');
}

.nav-icon-browse {
	background-image: url('img/browse.png');
}

.nav-icon-browse:hover {
	background-image: url('img/browse-hover.png');
}

.nav-icon-buy {
	background-image: url('img/buy.png');
}

.nav-icon-buy:hover {
	background-image: url('img/buy-hover.png');
}

.nav-icon-favourite {
	background-image: url('img/favourite.png');
}

.nav-icon-favourite:hover {
	background-image: url('img/favourite-hover.png');
}

.nav-icon-wishlist {
	background-image: url('img/wishlist.png');
}

.nav-icon-wishlist:hover {
	background-image: url('img/wishlist-hover.png');
}

.nav-icon-history {
	background-image: url('img/history.png');
}

.nav-icon-history:hover {
	background-image: url('img/history-hover.png');
}

.genre {
	margin-top: 40px;
}

.nav-icon-must {
	background-image: url('img/red-circle.png');
}

.nav-icon-rest {
	background-image: url('img/orange-circle.png');
}

.nav-icon-classic {
	background-image: url('img/blue-cicrle.png');

}

.nav-icon-fiction {
	background-image: url('img/lily-circle.png');
}

.added {
	height: 310px;
	margin-top: 40px;
}

.added p {
	padding: 15px 15px 15px 45px;
	display: block;
}

.added a {
	color: #97b3ce;
}

.added a:hover {
	color: white;
}

#content {
	margin-left: 200px;
	height: 900px;
}

.available-books {
	height: 79px;
	background: #eef1f8;
}

.available-books p {
	margin: 0;
	font-size: 22px;
	padding: 15px;
}

.search-panel {
	height: 41px;
	background: #eef1f8;
	position: fixed;
	right: 0;
	left: 200px;
	min-width: 460px;
}

.rate {
	float: left;	
}

.filter {
	padding: 8px;
}

.filter:hover {
	background: #97b3ce;
	border-radius: 20px;
}

.search-field {
	float: right;
	border: 1px solid #c7cddb;	
	border-radius: 20px;
	width: 400px;
	min-height: 33px;
	background: white;
	margin-top: -10px;
}

input[type="search"] {
	width: 360px;
	padding: 10px 0;
	border: none;
	margin-left: 12px;
	outline: none;
}

input[type="submit"] {
	height: 21px;
	width: 13px;
	border: none;
	background: url(img/search.png) no-repeat 0 8px;
	padding: 4px 0;
	outline: none;
	cursor: pointer;
	
}

.search-result {
	padding-top: 30px;
}

.search-result ul li {
	float: left;
	margin: 30px 0 0 21px;
	
}

.search-result ul li a img {
	width: 200px;
	height: 275px;
}

li h3 a {
	font-size: 16px;
	color: #50586d;
}

.search-result li a:hover {
	color: black;
}

.star-rate {
	background: url('img/empty-star.png') repeat-x;
	width: 69px;
	height: 13px;
}

.real-rate {
	background: url('img/full-star.png');
	height: 13px;
}

.five-stars {
	width: 100%;
}

.four-and-half-stars {
	width: 90%
}

.four-stars {
	width: 80%;
}

.three-and-half-stars {
	width: 70%;
}

.clear {
	clear: both;
}

#footer {
	height: 46px;
	background: #181e2c;
	clear: both;
}

.icons {
	background-color: #1f2637;
	display: inline-block;
	cursor: pointer;
	width: 33px;
	height: 30px;
	padding-left: 22px;
	padding-top: 15px;
}

.icons:hover {
	background-color: #15a4fa;
}






