body {
	background: white;
	margin: 0;
	min-width: 660px;
}

.center-block {
	margin: 0 auto;
}
.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.link {
	text-decoration: none;
	font-size: 13px;
	color: #78829d;
	padding: 10px;

}

.link:hover {
	color: black;
}

#header {
	height: 45px;
	background: #2f3649;
}

#header a {
	padding-left: 21px;	
}

.logo {
	width: 84px;
	height: 12px;
	padding-top: 15px;
}

.user-online {
	background: #15a4fa;
	width: 157px;
	float: right;
	height: 45px;
	position: relative;
	bottom: 27px;
}

.user-online a {
	color: white;
}

.avatar {
	float: left;
	margin: 0;
	position: relative;
	right: 20px;
	top: 6px;
}

.arrow {
	float: right;
	position: relative;
	bottom: 5px;
}

#sidebar {
	float: left;
	width: 200px;
	background: #1f2638;
}

.add-book {
	height: 129px;
}

.add-book button {
	width: 160px;
	height: 44px;
	border-radius: 5px;
	background: #f2795a;
	color: white;
	vertical-align: middle;
	position: relative;
	margin-top: 40px;
	margin-left: 15px;

}

.add-book button:hover {
	opacity: 0.9;
}
.statistic {
	height: 240px;
}

.sidebar-text {
	display: block;
	padding: 15px; 
}

.sidebar-text.first {
	margin-top: 0;
}
.sidebar-text:hover {
	background: #15a4fa;
	color: white;
	width: auto;

}
.genre {
	height: 182px;
	margin-top: 100px;
}

.added {
	height: 350px;
}

#content {
	margin-left: 200px;
	height: 900px;
}

.available-books {
	height: 79px;
	background: #eef1f8;
}

.available-books p {
	margin: 0;
	font-size: 22px;
	padding: 15px;
}

.search-panel {
	height: 41px;
	background: #eef1f8;

}
.rate {
	float: left;
	
}

.filter:hover {
	background: #97b3ce;
	color: white;
	height: 5px;
	width: 72px;
	border-radius: 20px;
}

.search-field {
	float: right;

}

input[type="search"] {
	width: 400px;
	min-height: 33px;
	border-radius: 20px;
	border: none;
	outline: none;
	vertical-align: middle;
}

input[type="submit"] {
	height: 13px;
	width: 13px;
	border: none;
	background: url(img/search.png) no-repeat 50% 50%;
}

#footer {
	height: 45px;
	background: #181e2c;
}