body {
	background: white;
	margin: 0;
}

#header {
	border: solid 1px red;
	height: 45px;
}

#left-menu {
	border: solid 1px green;
	float: left;
	width: 200px;
}

.add-book {
	border: solid 1px black;
	height: 120px;
}

.statistic {
	border: solid 1px black;
	height: 240px;
}

.genre {
	border: solid 1px black;
	height: 182px;
}

.added {
	border: solid 1px black;
	height: 350px;
}

#content {
	border: solid 1px brown;
	margin-left: 200px;
	height: 900px;
}

.available-books {
	border: solid 1px yellow;
	height: 120px;
}

#footer {
	border: solid 1px grey;
	height: 45px;
}